## Deliverable 3. Create a Travel Itinerary Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [19]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
hotel_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,76.26,moderate rain,-23.1203,-134.9692,People ThankYou
1,1,Isangel,VU,77.72,moderate rain,-19.5500,169.2667,Tanna Lodge
2,8,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
3,11,Nicoya,CR,81.19,overcast clouds,10.1483,-85.4520,Las Cabinas Del Sueño
4,14,Tomatlan,MX,86.68,few clouds,19.9333,-105.2500,El Salvial

In [20]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 4a. Add a marker layer for each city to the map.
# locations = hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_hotel_df.loc[clean_hotel_df["City"] == "Pacifica"]
vacation_end = clean_hotel_df.loc[clean_hotel_df["City"] == "Pacifica"]
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df["City"] == "Rancho Palos Verdes"]
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df["City"] == "Meadow Lake"] 
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df["City"] == "Golden"] 

# print(vacation_start)
# print(vacation_end)
# print(vacation_stop1)
# print(vacation_stop2)
# print(vacation_stop3)
vacation_stop2

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
34,95,Meadow Lake,US,91.4,clear sky,34.8014,-106.5436,TumbleWeed RV Park

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

# start
# end
# stop1
# stop2
stop3

(39.7555, -105.2211)

In [37]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,
    end,
    waypoints=[stop1, stop2,stop3],
    travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,551,Pacifica,US,82.53,haze,37.6138,-122.4869,"Pacifica Lighthouse, Trademark Collection by W..."
1,258,Rancho Palos Verdes,US,73.92,scattered clouds,33.7445,-118.3870,Terranea Resort
2,95,Meadow Lake,US,91.40,clear sky,34.8014,-106.5436,TumbleWeed RV Park
3,161,Golden,US,88.70,broken clouds,39.7555,-105.2211,"The Golden Hotel, Ascend Hotel Collection"

In [40]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map.
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=4.5)
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))